<p>Trung tâm xin được nhắc Thầy/Cô về buổi dạy Zoom sắp tới thuộc khoá học "<%= course_name %>", dự kiến diễn ra vào:</p>

<ul>
    <li>📅 Thời gian: <%= recurrence_datetime %></li>
    <li>🖥️ Hình thức: Zoom online</li>
</ul>

<p>Để buổi học diễn ra hiệu quả và đúng tiến độ, kính mong Thầy/Cô chuẩn bị đầy đủ nội dung giảng dạy, slide/bài giảng, tài liệu học tập (nếu có) và cập nhật lên hệ thống/drive trước thời điểm diễn ra buổi học ít nhất 4 giờ.</p>

<p>Xin chân thành cảm ơn Thầy/Cô và kính chúc buổi dạy diễn ra suôn sẻ!</p>

<p>Trân trọng,</p>
<p>@<span style="text-transform: uppercase;"><strong>MavenPath Education</strong></span></p>
