Chào <strong><%= toName; %></strong>,
<p>Bạn hoặc ai đó vừa gửi yêu cầu lấy lại mật khẩu mới trên hệ thống Lớp học trực tuyến MavenPath Education. Nếu không
    muốn
    đổi mật khẩu, bạn hãy bỏ qua email này.</p>
<p>Để đổi mật khẩu mới, bạn vui lòng bấm vào link dưới đây:
    <br>>> <a href="<%= link; %>"><%= link; %></a></p>
<p>Link này có giá trị trong vòng 24 giờ và chỉ sử dụng được 1 lần.</p>
Trân trọng, <br>
@ MavenPath Education <br><br><br>