<p>Chào <strong><%= toName ;%></strong>,</p>

<p>Chúc mừng bạn đã đăng ký thành công tài khoản hệ thống Lớp học trực tuyến <strong>MavenPath Education</strong>.</p>

<p>Chúc bạn có những bài học hiệu quả.</p>
<p>Trân trọng,</p>
<p>@<span style="text-transform: uppercase;"><strong>MavenPath Education</strong></span></p>
