<p>Chào <strong><%= toName ;%></strong>,</p>

<p>Vui lòng xác thực tài khoản của bạn bằng cách nhấn vào liên kết dưới đây:</p>

<p><a href="<%= verifyUrl %>">Xác thực tài khoản</a></p>

<p>Chúc bạn có những bài học hiệu quả.</p>
<p>Trân trọng,</p>
<p>@<span style="text-transform: uppercase;"><strong>MavenPath Education</strong></span></p>
