#APP_PORT=3000
#APP_ENV=production
#APP_DEBUG=false
APP_KEY=
APP_URL=http://localhost
APP_CLUSTER=false
MAINTENANCE_MODE=false

SESSION_SECRET=
SESSION_NAME=mavenxcore_session
# miliseconds
SESSION_LIFETIME=7200000

#DB_HOST=
#DB_USERNAME=
#DB_PASSWORD=
#DB_DATABASE=
#DB_PORT=

JWT_EXPIRES_IN=
MONGODB_URI=

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=

AWS_DEFAULT_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_PREFIX=

KEY_YOUTUBE=
KEY_FIREBASE=

IAP_TEST_MODE=false
APPLE_SHARED_SECRET=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
GOOGLE_AUTH_CLIENT_ID=

ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=

VNP_TMNCODE=
VNP_HASH_SECRET=
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:3000/payment/return

BANK_NAME=
BANK_ACCOUNT=
API_KEY_SEPAY=

ADMIN_EMAILS=